<html>
  <head>
    <script>
      function refreshData() {
        // Make an AJAX request to the server to get the latest data
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            // Update the table with the new data
            var data = JSON.parse(this.responseText);
            var table = document.getElementById("podTable");
            table.innerHTML = "";
            for (var i = 0; i < data.length; i++) {
              var row = table.insertRow(-1);
              var nameCell = row.insertCell(0);
              var healthCell = row.insertCell(1);
              nameCell.innerHTML = data[i].name;
              healthCell.innerHTML = data[i].health;
            }
          }
        };
        xhttp.open("GET", "/pods/{{ namespace }}", true);
        xhttp.send();

        // Schedule the next refresh
        setTimeout(refreshData, 30000);
      }

      // Start the refresh loop
      refreshData();
    </script>
        <style>
          table {
            border-collapse: collapse;
          }
          th, td {
            border: 1px solid black;
            padding: 8px;
          }
          tr:nth-child(even) {
            background-color: #dddddd;
          }
        </style>
  </head>
  <body>
    <h1>Pods in namespace "{{ namespace }}"</h1>
    <table id="podTable">
      <tr>
        <th>Pod Name</th>
        <th>Health Status</th>
      </tr>
      {% for pod in pod_info %}
      <tr>
        <td>{{ pod.name }}</td>
        <td>{{ pod.health }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
