<html>
  <head>
    <style>
      table {
        border-collapse: collapse;
      }
      th, td {
        border: 1px solid black;
        padding: 8px;
      }
      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
    <title>PYK</title>
  </head>
  <body>
    <h1>Implemented Paths</h1>
    <table>
      <tr>
        <th>Service name</th>
        <th>Path</th>
      </tr>
      <tr>
        <td>Pod Health</td>
        <td>/health/< NAMESPACE ></td>
      </tr>
      <tr>
        <td>Docker Images</td>
        <td>/images</td>
      </tr>
      <tr>
        <td>Docker Images by Namespace</td>
        <td>/images/< NAMESPACE ></td>
      </tr>
    </table>
  </body>
</html>
